* {
  box-sizing: border-box;
}

.backgroundImage {
  position: absolute;
  width: 510px;
  height: 1018px;
  left: -322px;
  top: -509px;

  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  border-radius: 255px;
}

@media screen and (max-width: 1439px) {
  .backgroundImage2 {
    right: 0;
    top: 462px;
    height: 508px;
    width: 187px;
  }
}
@media screen and (min-width: 1440px) {
  .backgroundImage2 {
    right: 65px;
    top: 162px;
    height: 608px;
    width: 257px;
  }
}

.backgroundImage2 {
  position: absolute;

  background: linear-gradient(225deg, #e844ff 0%, #8739ff 100%);
  mix-blend-mode: normal;
  opacity: 0.03;
  border-bottom-left-radius: 255px;
  transform: matrix(1, 0, 0, -1, 0, 0);
}
